<%= form_for [@todo_list, @comment]  do |f| %>
  <div class="field">
    <%= f.text_field :content %>
    <%= f.submit '댓글달기' %>
  </div>
<% end %>

<!--염) 닉네임 만들려고 시도중. 호오이잉-->

<% @todo_list.comments.each do |c| %>
  <%= comment.user %> | <%= c.content %> | <%= link_to '삭제', todo_list_comment_path(@todo_list, c), method: :delete %>
  <br>
<% end %>